
#image-carousel {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
  background-color: rgb(200, 191, 178);
}

.carousel-wrapper {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-slide img {
  width: 100%;
  height: 65%;
  object-fit: contain;
  display: block;
  border-radius: 10px;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/modern-kitchen-interior-white-colors.jpg");
  background-position: 53.34% 57.59%;
  background-size: auto 150%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 413px;
  height: 413px;
  margin: 10px auto 0 0;
  border-radius: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 8px 734px 0 25px;
}

.u-section-1 .u-list-1 {
  width: 1117px;
  margin: 25px -17px 60px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 139px;
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  grid-gap: 24px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
  text-align: center;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
  text-align: center;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
  text-align: center;
}

.u-section-1 .u-list-2 {
  width: 357px;
  margin: 0 -17px 0 auto;
}

.u-section-1 .u-repeater-2 {
  min-height: 199px;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 24px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 8px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 559px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 168px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 339px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 386px;
    grid-template-columns: repeat(2, calc(50% - 12px));
  }

  .u-section-1 .u-list-2 {
    width: 349px;
    margin: 20px auto 60px 32px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 166px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50.2% 50%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-image-1 {
    height: 259px;
    width: 246px;
    margin-top: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 1.25rem;
    width: auto;
    margin-top: -22px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-list-2 {
    width: 279px;
    margin-top: 37px;
    margin-left: auto;
    margin-bottom: 43px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 212px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    width: 202px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 20px;
}.u-block-c2a3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-c2a3-3 {
  position: absolute;
  left: 0;
}

.u-block-c2a3-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 328px;
  right: calc(((100% - 1140px) / 2)  + 351px);
}

@media (max-width: 1199px) {
  .u-block-c2a3-4 {
    right: calc(((100% - 940px) / 2)  + 251px);
  }
}

@media (max-width: 991px) {
  .u-block-c2a3-4 {
    right: calc(((100% - 720px) / 2)  + 141px);
  }
}

@media (max-width: 767px) {
  .u-block-c2a3-4 {
    right: calc(((100% - 540px) / 2)  + 51px);
  }
}

@media (max-width: 575px) {
  .u-block-c2a3-4 {
    right: calc(((100% - 340px) / 2)  + -49px);
  }
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/IMG_3129.png");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 575px) {
   .u-section-3-1 {
    background-position: 42.34% 50%;
    background-size: 125%;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/IMG_3138.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 575px) {
   .u-section-3-2 {
    background-position: 43.72% 50%;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/Screenshot2022-08-31221343.png");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 700px;
}

 .u-section-3-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/kitchensnip.png");
  background-position: 50% 50%;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 700px;
}

 .u-section-3-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/IMG_3132.png");
  background-position: 50% 50%;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 575px) {
   .u-section-3-5 {
    background-position: 50.16% 50.54%;
    background-size: 250%;
  }
}

 .u-section-3-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/Screenshot601.png");
  background-position: 50% 50%;
}

.u-section-3-6 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 575px) {
   .u-section-3-6 {
    background-position: 29.33% 50%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 728px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 509px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 205px;
  height: 205px;
  background-image: url("../images/IMG_5705.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
} 

.u-section-4 .u-image-2 {
  width: 337px;
  height: 337px;
  background-image: url("../images/IMG_9565.jpeg");
  background-position: 50% 50%;
  margin: -93px 30px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 499px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: -68px;
  margin-left: auto;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 27px;
  }

  .u-section-4 .u-image-2 {
    width: 290px;
    height: 290px;
    margin-top: -46px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -18px;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 50px;
    margin-right: 27px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 50px;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-4 .u-image-2 {
    width: 406px;
    height: 406px;
    margin-top: -45px;
    margin-right: 32px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-4 .u-image-2 {
    width: 295px;
    height: 295px;
    margin-top: 0;
    margin-right: -1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 744px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-form-1 {
  height: 541px;
  margin: 29px 286px 60px 284px;
}

.u-section-5 .u-input-1 {
  text-transform: uppercase;
}

.u-section-5 .u-input-2 {
  text-transform: uppercase;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-input-3 {
  text-transform: uppercase;
}

.u-section-5 .u-input-4 {
  text-transform: uppercase;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-form-1 {
    width: 570px;
    margin-left: 184px;
    margin-right: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-form-1 {
    margin-left: 74px;
    margin-right: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}